@charset "UTF-8";

.contents_right_list{
	
	width: 70%;
	padding: 30px 0px;
	box-sizing: border-box;
	margin: 0 auto;
}

.table_shadow {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

.table_shadow th, .table_shadow td {
    padding: 10px;
    text-align: left;
}

.table_shadow th {
    text-align: center;
}

.table_shadow thead {
    background-color: #f4f4f4;
}

.table_sprite {
	width: 100%;
}


.table_sprite th, .table_sprite td {
	padding: 10px;
	text-align: left
}

.table_sprite thead {
	background-color: #333;
	color: #fff;
}

/*가상 선택자 nth-child()*/
.table_sprite tbody tr:nth-child(n) {
	background-color: #f2f2f2;
}