<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/reset.css">
    <link rel="stylesheet" href="/resources/css/layout.css">
    <link rel="stylesheet" href="/resources/css/detail.css">
</head>
<body>
    <!--Sementic tag-->
	<header class="wrap">
		<div class="left logo">
            <img src="/resources/images/logo.jpeg" width="300" height="100">
        </div>
		<div class="right menu">
            <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>   
            </ul>
        </div>
	</header>
	<section class="wrap contents">
        <nav class="left contents_left">
            <ul>
                <li><a href="#">상품</a></li>
            </ul>

        </nav>
        <div class="right contents_right">
            <div class="contents_right_detail">
                <ul>
                    <li><div class="title">상세정보</div></li>
                    <li><div class="title_sub">상품번호</div><br>ddd</li>
                    <li><div class="title_sub">이자율</div><br>ddd</li>
                    <li><div class="title_sub">상품기간</div><br>ddd</li>
                </ul>
                sdlakfjlsdkafjlksdjakfsdjkl
            </div>
        </div>

	</section>
	
	<footer class="wrap">
        <div class="left footer_left"></div>
        <div class="right footer_right">
            Copyright © 1995-2025 Samsung. All Rights Reserved.
        </div>    
    </footer>  
</body>
</html>