<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/reset.css">
    <link rel="stylesheet" href="/resources/css/layout.css">
</head>
<body>
    <!--Sementic tag-->
	<header class="wrap_left">
		<div class="left logo">
            <img src="/resources/images/logo.png" alt="" srcset="">
        </div>
		<div class="right menu"></div>
	</header>
	<section class="wrap_left contents">
        <nav class="left contents_left">
            <ul>
                <li><a href="#">사원관리</a></li>
                <li><a href="#">부서관리</a></li>
                <li><a href="#">지역관리</a></li>
                <li><a href="#">국가관리</a></li>
            </ul>

        </nav>
        <div class="right contents_right"></div>

	</section>
	
	<footer class="wrap_left">
        <div class="left footer_left"></div>
        <div class="right footer_right">
            Copyright © 1995-2025 Samsung. All Rights Reserved.
        </div>    
    </footer>  
</body>
</html>