<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>ID</legend>
            <input type="text">
        </fieldset>    
        
        <fieldset>
            <legend>Password</legend>
            <input type="password">
        </fieldset>
        
        <fieldset>
            <legend>스포츠</legend>
            <label for="p1">야구</label>
            <input type="checkbox" id="p1">

            <label for="p2">농구</label>
            <input type="checkbox" id="p2">            

            <label for="p3">배구</label>
            <input type="checkbox" id="p3">    

            <label for="p4">축구</label>
            <input type="checkbox" id="p4">        
        </fieldset>    
    </form>
</body>
</html>