<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet_App</display-name>
  <filter>
  	<filter-name>encode</filter-name>
  	<filter-class>com.winter.app.filters.EncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>encode</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 배포서술자 DD -->
  
  <!-- Servlet 객체 생성 : 클래스명 참조변수명 = new 생성자() FQDN -->
  <servlet>
  	<servlet-name>homeController</servlet-name>
  	<servlet-class>com.winter.app.HomeController</servlet-class>
  </servlet>
  
  <!-- 어떤 요청이 왔을 떄 누구를 실행 -->
  <servlet-mapping>
  	<servlet-name>homeController</servlet-name>
  	<url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  
  <!-- departments -->
  <servlet>
  	<servlet-name>department</servlet-name>
  	<servlet-class>com.winter.app.departments.DepartmentController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>department</servlet-name>
  	<url-pattern>/departments/*</url-pattern>
  </servlet-mapping>
  
  <!-- locations -->
  <servlet>
  	<servlet-name>location</servlet-name>
  	<servlet-class>com.winter.app.locations.LocationController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>location</servlet-name>
  	<url-pattern>/locations/*</url-pattern>
  </servlet-mapping>
  
  <!-- Employees -->
  <servlet>
  	<servlet-name>employee</servlet-name>
  	<servlet-class>com.winter.app.employees.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>employee</servlet-name>
  	<url-pattern>/employees/*</url-pattern>
  </servlet-mapping>
</web-app>

